/* Font CDN */
    /* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
    /* Miama Font */
    @import url('https://fonts.cdnfonts.com/css/miama');

/* Common Style */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif; 
    background-color: black;
    color: white;
}
.container{
    max-width: 90%;
    margin: 0 auto;
    
}

h3{
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgba(255, 255, 255, 1);
}
h5{
    font-size: 1.2rem;
}

.primary-color{
    color: rgba(230, 83, 60, 1);
}
.primary-bgcolor{
    background-color:rgba(230, 83, 60, 1) ;
}
.primary-btn{
    background-color:rgba(230, 83, 60, 1) ;
    color: #FFFFFF ;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;

}
.secondary-btn{
    background-color: black;
    color: #FFFFFF ;
    border: 0.1rem solid #FFFFFF ;
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    margin-left: 1rem;
    font-size: 1.5rem;

}
/* Header Style */
.header-section{
    min-height: 40rem;
    background-image: linear-gradient(to left,rgba(17, 17, 17, 1),rgba(119, 119, 119, 0));
    padding-top: 2rem;
}
/* Navbar Style */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.logo{
    max-width: 40%;
    /* text-transform: uppercase; */
    font-weight: bolder;
    font-style: italic;
    font-size: 2.3rem;
    
}
.nav-iteam{
    max-width: 60%;
    border:  0.1rem solid rgba(255, 255, 255, 0.1);
    border-radius: 1.2rem;
}
.nav-iteam ul{
    display: flex;
    gap: 5rem;
    list-style: none;
    padding: 0.2rem;
}

.nav-iteam a:hover {
    background-color: rgba(230, 83, 60, 1) ;
    transition: 25ms;
}
.nav-iteam a{
    text-decoration: none;
    /* text-transform: uppercase; */
    color: white;
    font-weight: normal;
    padding: 0.5rem 1.4rem;
    border: none;
    border-radius:1rem ;
}
.nav-icon{
    display: none;
}

/* Banner Style */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}
.banner-title{
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    font-size: 2.8rem;
}
.miama{
    font-family: 'Miama', sans-serif;
    font-size: 4rem;
                                                
}
.banner-description{
    display: flex;
    text-align: left;
    font-size: 0.7;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

.banner-btn{
    display: flex;
    gap: 2rem;
}
.btn-1:hover{
    background-color: #FFFFFF;
    color: rgba(230, 83, 60, 1) ;
   
}
.banner-image{
    max-width: 50%;
    display: flex;
    margin: 0 auto;
    
    
}
.banner-image img{
    position: relative;
}
.item-1{
    background-color: rgba(255, 255, 255, 0.1);
    /* width: 8rem;
    height: 4rem; */
    border: none;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    top: 15rem;
    right: 9rem;
}
.num{
    font-size: 40px;
}
.num-description{
    font-size: 13px;
    
}

.circle{
    width: 2rem;
    height: 2rem;
    background-color: rgba(230, 83, 60, 1);
    border: none;
    border-radius: 50%;
}
.item-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    /* width:10rem;
    height: 4rem; */
    border: none;
    border-radius: 1.2rem;
    padding: 1rem;
    position: absolute;
   top:33rem;
    right: 30rem;
}

/* Habit Style */
.habit-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    margin-top: 3rem;
}
.habit-content-description{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 20rem;
    margin-top: 1rem;

}
.habit-image{
    display: flex;
    gap: 0.6rem;
}
.habit-img-content img{
    width: 180px;
    height: 180px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;

}
.habit-img-description{
    font-size: 0.8rem;
    padding: 0.3rem 3rem;
    color: rgba(255, 255, 255, 0.5);
}
.run-section{
    /* max-height: 22rem; */
    display: flex;
    text-align: left;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 2rem;
}
.run-content{
    width: 50%;
    padding: 3rem;
    
}
.run-title{
    padding-right:20rem;
}
.run-description{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 2rem;
    padding-right: 10rem;
}
.run-btn{
    padding:1rem 3.5rem ;
    margin-top: 2rem;
}
.run-img{
    display: flex;
    padding: 2.5rem;
}
.run-img img{
    width: 20rem;
    height: 17rem;
    border: none;
    border-radius: 1.5rem;  
}

/* Trainings and Exercises Style */
 .exercise-section{
    margin-top: 3rem;
 }
 .exercise-content-description{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 1rem 35rem 1.5rem 0;
 }
.exercise-images{
    max-width: 100%;
    height: 218px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    
}
.img-1{
    background-image: url("../Images/exercise1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(6, 255, 210, 0.5);
    background-blend-mode: overlay;
    grid-column: 1/span 3;
    position: relative;
}

.img-2{
    background-image: url("../Images/exercise2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 0, 0, 0.3);
    background-blend-mode: overlay;
    grid-column: 4/span 5;
    position: relative;
}
.img-3{
    background-image: url("../Images/exercise3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    grid-column: 9/span 4;
    position: relative;
    
}
.training-image{
    max-width: 100%;
    height: 218px;
    display: grid;
    grid-template-columns: repeat(14,1fr);
}
.img-1 h4{
    position: absolute;
    bottom: 3rem ;
    color: black;
    left: 2rem;
}
.img-2 h4{
    position: absolute;
    top: 3rem ;
    color: rgba(255, 255, 255, 1);
    left: 3rem;
}
.img-3 h4{
    padding-right: 5rem;
    position: absolute;
    bottom: 1rem;
    left: 8rem;
}
.image-1{
    background-image: url("../Images/exercise4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    grid-column: 1/span 5;
    position: relative;
}
.image-2{
    background-image: url("../Images/exercise5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(66, 255, 0, 0.3);
    background-blend-mode: overlay;
    grid-column: 6/span 4;
    position: relative;
}
.image-3{
    background-image: url("../Images/exercise6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 71, 255, 0.3);
    background-blend-mode: overlay;
    grid-column: 10/span 5;
    position: relative;
}
.image-1 p{
    position: absolute;
    top:1rem;
    right: 1rem;
    padding-left: 15rem;
}
.image-1 h4{
    display: none;
}
.image-2 p{
    position: absolute;
    bottom: 1rem;
    padding: 0 5rem;
}
.image-2 h4{
    display: none;
}
.image-3 p{
    position: absolute;
    top:1rem;
    right: 1rem;
    padding-left: 15rem;
}

/* Footer Style */
.footer-section{
    background-color: rgba(255, 255, 255, 0.1) ;
}
.footer-section hr{
    margin-top: 2rem;
}
.footer-content{
    display: flex;
    justify-content: space-between;
   padding-top: 2rem;
}
.footer-logo{
    max-width: 45%;
}
.footer-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}















/* Moblie Device Responsive */
@media screen and (min-width:320.5px) and ( max-width:576px){
    /* Common Style */
    


    /* Nav Responsive */
    .header-section{
       
        background-image: linear-gradient(to top,rgba(17, 17, 17, 1),rgba(119, 119, 119, 0));
    }
    .logo{
        font-size: 1.8rem;
    }
    .nav-iteam{
        display: none;
    }
    .nav-icon{
        display: block;
    }
    /* Banner Respobsive */
    .banner{
        flex-direction: column;
        align-items: start;
    }
    .banner-content{
        max-width: 100%;
        padding-top: 1rem;
        gap: 0.5rem;  
    }
    .banner-title{
        margin: 0;
        font-size: 1.5rem;
    }
    .banner-description{
        margin-top: 0.1rem;
    }
    .banner-btn{
        margin-top:  0.1rem;
        
        /* justify-content: space-between; */
    }
    .primary-btn{
        /* border-radius: 1rem; */
        padding: 1rem ;
        font-size: 1.2rem;
    
    }
    .secondary-btn{
        /* border-radius: 1.5rem; */
        padding: 1rem ;
        font-size: 1.2rem;
    
    }
    
    .banner-image{
        max-width: 90%;
        padding-top: 1rem;
        
    }
    .banner-image img{
        width: 250px;
    }
    .item-1{
        top: 35rem;
        right: 4rem;
        padding: 0.7rem;
        border-radius: 0.6rem;
    }
    .item-2{
        top: 45rem;
        right:15rem;
        padding: 0.7rem;
        border-radius: 0.6rem;
    }
    .num{
        font-size: 30.5px;
    }
    .num-description{
        font-size: 9.5px;
        
    }
    /* Habit Section */
    .habit-image{
        flex-direction: column;
    }
    .habit-content-title{
        font-size: 1.8rem;
    }
    .habit-content-description{
        font-size: 0.9rem;
        /* padding: 0.5rem 20rem; */
        padding: 0 0.5rem;
    
    }
    /* Run sectipn */
    .run-section{
        flex-direction: column;
        max-width: 90%;
    }
    .run-img{
        padding: 1.5rem;
    }
    .run-img img{
        width:18.5rem;
        height: 18.5rem;
    }
    .run-content{
        min-width: 90%;
        padding: 1.5rem;
        
    }
    .run-title{
        font-size: 2rem;
        padding-right:5rem;
        
    }
    .run-description{
        font-size: 0.8rem;
        padding-top: 1rem;
        padding-right: 5rem;
    }
    .run-btn{
        padding:1rem 6.8rem ;
        margin-top: 1rem;
    }

    /* Trainings and Exercises */
    .exercise-content-title{
        font-size: 1.8rem;
    }
    .exercise-content-description{
        font-size: 0.9rem;
        padding: 0;
        margin-top: 1rem;
     }

     .exercise-images{
        height: 150px;
        margin-top: 1rem;
        
        
    }
    .img-1{
        grid-column: 1/span 6;
    }
    .img-2{
        grid-column: 7/span 6;
        background-position: right;
    }
    .img-3{
       display: none;
        
    }
    .img-1 h4{
        bottom: 1rem ;
        left: 2rem;
        color: rgba(255, 255, 255, 1);
    }
    .img-2 h4{
       
        top: 1rem ;
        left: 2rem;
    }
    .training-image{
        height: 150px;
    }
    .image-1{
        grid-column: 1/span 6;
    }
    .image-2{
        grid-column: 7/span 8;
    }
    .image-3{
        display: none;  
    }
    .image-1 p{
        display: none;
    }
    .image-2 p{
        display: none;
    }
    .image-1 h4{
        display: block;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
    .image-2 h4{
        display: block;
        position: absolute;
        bottom: 1rem;
        left: 2.5rem;
    }

    /* Footer Section */
    
    .footer-content{
        flex-direction: column;
    }
}

/* Small Device Responsive */
@media screen and ( max-width:320px){
    /* Common Style */
    


    /* Nav Responsive */
    .header-section{
       
        background-image: linear-gradient(to top,rgba(17, 17, 17, 1),rgba(119, 119, 119, 0));
    }
    .logo{
        font-size: 1.8rem;
    }
    .nav-iteam{
        display: none;
    }
    .nav-icon{
        display: block;
    }
    /* Banner Respobsive */
    .banner{
        flex-direction: column;
        align-items: start;
    }
    .banner-content{
        max-width: 100%;
        padding-top: 1rem;
        gap: 0.5rem;  
    }
    .banner-title{
        margin: 0;
        font-size: 1.5rem;
    }
    .banner-description{
        margin-top: 0.1rem;
    }
    .banner-btn{
        justify-content:space-between ;
        margin-top:  0.5rem;
        gap: 0rem;
       
    }
    .primary-btn{
        border-radius: 1.5rem;
        padding:1rem ;
        font-size: 1rem;

        

    
    }
    .secondary-btn{
        border-radius: 1.5rem;
        padding: 1rem ;
        font-size: 0.9rem;

    
    }
    .banner-image{
        max-width: 90%;
        padding-top: 1rem;
        
    }
    .banner-image img{
        width: 250px;
    }
    .item-1{
        top: 35rem;
        right: 1rem;
        padding: 0.7rem;
        border-radius: 0.6rem;
    }
    .item-2{
        top: 45rem;
        right:  10rem;
        padding: 0.7rem;
        border-radius: 0.6rem;
    }
    .num{
        font-size: 30.5px;
    }
    .num-description{
        font-size: 9.5px;
        
    }
    /* Habit Section */
    .habit-image{
        flex-direction: column;
    }
    .habit-content-title{
        font-size: 1.8rem;
    }
    .habit-content-description{
        font-size: 0.9rem;
        /* padding: 0.5rem 20rem; */
        padding: 0 0.5rem;
    
    }
    /* Run sectipn */
    .run-section{
        flex-direction: column;
        max-width: 95%;
    }
    .run-img{
        padding: 1rem;
    }
    .run-img img{
        width: 15rem;
        height: 10rem;
    }
    .run-content{
        min-width: 95%;
        padding: 1rem;
        
    }
    .run-title{
        font-size: 2rem;
        padding:0rem;
        
    }
    .run-description{
        font-size: 0.8rem;
        padding-top: 1rem;
        padding-right: 1rem;
    }
    .run-btn{
        padding:1rem 5.9rem ;
        margin-top: 1rem;
    }

    /* Trainings and Exercises */
    .exercise-content-title{
        font-size: 1.8rem;
    }
    .exercise-content-description{
        font-size: 0.9rem;
        padding: 0;
        margin-top: 1rem;
     }

     .exercise-images{
        height: 150px;
        margin-top: 1rem;
        
        
    }
    .img-1{
        grid-column: 1/span 6;
    }
    .img-2{
        grid-column: 7/span 6;
        background-position: right;
    }
    .img-3{
       display: none;
        
    }
    .img-1 h4{
        bottom: 1rem ;
        left: 2rem;
        color: rgba(255, 255, 255, 1);
    }
    .img-2 h4{
       
        top: 1rem ;
        left: 2rem;
    }
    .training-image{
        height: 150px;
    }
    .image-1{
        grid-column: 1/span 6;
    }
    .image-2{
        grid-column: 7/span 8;
    }
    .image-3{
        display: none;  
    }
    .image-1 p{
        display: none;
    }
    .image-2 p{
        display: none;
    }
    .image-1 h4{
        display: block;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
    .image-2 h4{
        display: block;
        position: absolute;
        bottom: 1rem;
        left: 2.5rem;
    }

    /* Footer Section */
    
    .footer-content{
        flex-direction: column;
    }
}